{% extends 'base.html.twig' %}

{% block form_header %}
<blockquote id="get_color_txt-success">

<h1 class="gradient-text">Hey You </h1>
<p>Check your IMC below</p>
<p>{{ imc }}<p>

</blockquote>

{% endblock form_header %}